body{background:url(../images/bg-seamless.jpg) fixed;}
#banner{background:url(../images/mainlogo.jpg) top no-repeat;background-size:cover;}
#banner-clan{height: 172px;width:523px;margin-top:15px;background:url('../images/banner_Top2.png');background-size: contain;}
.eelogo{background:url(../images/eelogo.png) no-repeat;height: 140px;width:373px;}
.w3-teal{background-color:#0A466B!important;}
/* Youtube Reflexive */
.vid-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gtp{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 0px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
	background-color:#ff6464;
	color:white;
}